
.icon-users:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-music:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-camera:before { content: '\e807'; } /* '' */
.icon-thumbs-up:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-cancel:before { content: '\e80b'; } /* '' */
.icon-videocam:before { content: '\e80c'; } /* '' */
.icon-bell:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */